@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Gowun';
  src: url('/Gowun_Batang/GowunBatang-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: 'Gowun';
}



.shadow-xg{
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33 40 50 / 15%);
}
.shadow-xgl{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.light-grey{
  color:#C6C6C6
}

.lighter-grey{
  color:#dee4e4
}

.slide-in{
  animation: slideIn 0.5s ease-in-out;
}

.fade-in{
  animation: fadeIn 0.5s ease-in-out;
}
.pop-up{
  transform: scale(0);
  animation: popup-animation 0.3s ease-in-out forwards;
}

@keyframes slideIn{
  from{
    transform: translateX(-400px);
  }to{
    transform: translateX(0);
  }
}

@keyframes fadeIn{
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes popup-animation {
  to {
    transform: scale(1);
  }
}
.slide-in-bottom{
 transition: 0.3s ease-in-out;
}




@keyframes slideDown {
  0% {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    max-height: 500px; /* enough height */
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
  }
}

.slide-down {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  animation-fill-mode: forwards;
}

.slide-down.open {
  animation: slideDown 0.3s ease forwards;
}

.slide-down.close {
  animation: slideUp 0.3s ease forwards;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; /* or your bg color */
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: black !important; /* your text color */
  transition: background-color 5000s ease-in-out 0s;
}

@media (prefers-color-scheme: dark ){
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; /* or your bg color */
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: white !important; /* your text color */
    transition: background-color 5000s ease-in-out 0s;
  } 
  
}